@font-face {
  font-family: 'AnonymousPro';
  src: url('/fonts/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal;

  font-weight: 700;
  src: url('/fonts/AnonymousPro-Bold.ttf') format('truetype');
}

body {
  font-family: 'AnonymousPro', sans-serif;
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}